#####################
# Java Ignore files #
#####################
*.class

##########################
# Jetbrains Ignore files #
##########################
*.iml
.idea/
.out/
*.kotlin_module

##########################
# Jupyter notebook Ignore files #
##########################
.ipynb_checkpoints/